<% User.all.each do |u| %>
  <% if !wiki.users.include?(u) %>
  <div class="row">
    <%= form_for Collaborator.new do |f| %>
      <%= f.hidden_field :user_id, value: u.id %>
      <%= f.hidden_field :wiki_id, value: wiki.id %>
      <%= u.email %> <%= f.submit 'Make Collaborator', class: "btn btn-success" %>
    <% end %>
  </div>
  <% else %>
    <div class="row">
      <%= u.email %> <%= link_to "Remove Collaborator", find_collaborator(u.id, wiki.id), method: :delete, class: 'btn btn-danger', data: {confirm: "Are you sure you want to remove this Collaborator?"} %>
    </div>
  <% end %>

<% end %>
