<h1>New Wiki</h1>

<div class="row">
  <div class="col-md-4">
    <p>Guidelines for Wikis</p>
    <ul>
      <li>Must love dogs</li>
      <li>Reference Jeff Goldblum and/or Jurassic Park at least 7 times</li>
      <li>Refrigerator</li>
    </ul>
    <p>Blocipedia supports markdown!</p>
    <ul>
      <li> *This will italicize*</li>
      <li> **This will bold**</li>
      <li> #This will create header text# </li>
      <li><a href="http://www.markdowntutorial.com/" target="_blank">Learn more about markdown here.</a></li>
    </ul>
  </div>
    <div class="col-md-8">
    <%= form_for @wiki do |f| %>
      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control', placeholder: "Enter wiki title please." %><br />
      <%= f.label :body %>
      <%= f.text_area :body, class: 'form-control', placeholder: "You will enter wiki body here and you will like it." %>

      <%= f.submit "Save", class: 'btn btn-info add-top-space'%>
    <% end %>
  </div>
</div>
